@CHARSET "UTF-8";

.sample_01 {
	text-align: "center";
	border-collapse: collapse;
}

.sample_01 th {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}

.sample_01 td {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
	padding: 6px;
}

.input-size{
	width:50px;
}

#contents {
	z-index: 0;
	font-size: 16px;
}

.page-txt {
	margin: 30px 0 0;
	height: 2000px;
}

#modal-open {
	color: #cc0000;
}
/* モーダル コンテンツエリア */
.modal-main {
	display: none;
	width: 500px;
	height: 300px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #666666;
	position: fixed;
	z-index: 2;
}
/* モーダル 背景エリア */
#modal-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#modal-open-edit {
	color: #cc0000;
}
/* モーダル コンテンツエリア */
.modal-main-edit {
	display: none;
	width: 500px;
	height: 300px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #666666;
	position: fixed;
	z-index: 2;
}

#page_ctrl ul, #page_ctrl li {
	display: inline;
	margin: 0;
	padding: 0;
}

#page_before li, #page_after li, #page_number li {
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	background: #f0f0f0;
	color: #666666;
	padding: 0 5px;
	margin: 0 2px;
}

#page_ctrl li:hover {
	background: #fafafa;
}

#page_ctrl li.terminal:hover {
	background: #f0f0f0;
}

/* Default */
#page_first, #page_prev, #page_number li, #page_next, #page_last {
	cursor: pointer;
}

/* 先頭あるいは末尾ページ表示中のボタンスタイル */
.terminal {
	color: #000000 !important;
	cursor: default !important;
	color: #dddddd !important;
}

/* カレントページのスタイル */
.current_page {
	background: #fafafa !important;
	font-weight: bold !important;
}

#pager {
	text-align: center;
}

#contents {
	z-index: 0;
	font-size: 16px;
}