@charset "UTF-8";

/*以下全体タグ*/
body {
	background-color: #f0f0f0;
	font-size: 14px;
	color: #333;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 10px 0;
	margin: 0;
}

p {
	text-align: center;
}

a {
	color: red;
}
a:hover {
  color: blue;
}

ul li {
	margin: 0;
	float: left;
	padding-right: 10px;
	list-style: none;
}
}
/*テーブル系*/
table {
	margin: 50px auto;
	border-spacing: 0;
	border-collapse: collapse;
	border: 3px solid #444444;
	border-collapse: collapse;
}

td {
	margin: 0;
	padding-left: 10px;
	line-height: 30px;
}

/*以下全体クラスタグ*/
.th {
	background-color: #E6FFE9;
	border: 2px solid #444444;
	color: #002200;
	text-align: center;
}

.td {
	border: 2px solid #444444;
	background-color: white;
	color: #002200;
	text-align: center;
}

/*ボタンを左寄せ並列させる用*/
.btnleft {
	float: left;
	margin: 30px 5px;
}

/*ボタンを右寄せ並列させる用*/
.btnright {
	float: right;
	margin: 30px 5px;
}

.btn {
	background-color: #DCDCDC;
	border: 5px solid #FF773E;
	border-radius: 20px;
	color: #002200;
	font-weight: bold;
	width: 150px;
	padding: 10px 0;
	text-align: center;
	margin: 15px 5px;
	outline: none;
}

/*右寄せ*/
.right {
	float: right;
}
/*左寄せ*/
.left {
	float: left;
}

/*floatの回りこみ解除*/
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

/*各ページ*/
/* フッターの位置*/
footer {
	background: gray;
	height: 50px;
	text-align: center;
}
/*headerの位置*/
header {
	height: 150px;
	background-color: gray;
}
/*header自体の大きさ*/
.contents {
	height: 400px;
	width: 960px;
	background-color: #C0C0C0;
}