@CHARSET "UTF-8";




/* モーダル コンテンツエリア */
.modal-main {
	display: none;
	width: 500px;
	height: 300px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #666666;
	position: fixed;
	z-index: 2;
}
/* モーダル 背景エリア */
#modal-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.sample_01 {
	text-align: "center";
	border-collapse: collapse;
}

.sample_01 th {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}

.sample_01 td {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
	padding: 6px;
}
