@CHARSET "UTF-8";



/* モーダル コンテンツエリア */
.modal-main {
	display: none;
	width: 500px;
	height: 300px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #666666;
	position: fixed;
	z-index: 2;
}
/* モーダル 背景エリア */
#modal-bg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.sample_01 {
	text-align: "center";
	border-collapse: collapse;
}

.sample_01 th {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}

.sample_01 td {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
	padding: 6px;
}


li{
	display:inline-block;
}

h2 {
	margin: 20px 0;
	padding: 20px 10px 10px;
	font-size: 18px;
	font-weight: bold;
	border-top: 1px #ccc solid;
}

.slider {
	margin: 0 0 50px;
}

.slider img {
	width: 300px;
	height: 300px;
}

.single-item {
	max-width: 600px;
	margin: 0 auto 50px;
}

.slick-prev::before, .slick-next::before {
	font-size: 24px;
}

.lazy-item .slick-next, .thumb-item-nav .slick-next, .multiple-item .slick-next,
	.center-item .slick-next {
	right: 20px;
	z-index: 99;
}

.lazy-item .slick-prev, .thumb-item-nav .slick-prev, .multiple-item .slick-prev,
	.center-item .slick-prev {
	left: 15px;
	z-index: 100;
}

.single-item .slick-prev::before, .single-item .slick-next::before {
	color: #666;
}

.slick-dots {
	bottom: -25px;
}

.multiple-item li {
	margin: 0 5px;
}

.thumb-item {
	max-width: 700px;
	margin: 0 auto 5px;
	padding: 0 5px;
}

.thumb-item-nav {
	max-width: 700px;
	margin: 0 auto;
}

.thumb-item-nav li {
	margin: 5px;
}

.lazy-item {
	width: 400px;
	margin: 0 auto 50px;
}

.lazy-item li {
	margin: 0 5px;
}


html, body {
	margin: 0; /* 余白の削除 */
	padding: 0; /* 余白の削除 */
	height: 100%; /* 縦の高さを100% */
	width: 100%; /* 横の幅を100% */
}

/* 全体を囲う大枠 */
div#contents {
	position: relative; /* フッター部の配置用に定義 */
	min-height: 100%; /* 縦の表示領域を100% */
}

/* ヘッダーの背景 */
div#header-bk {
	padding: 10px 0 0; /* 上から10px分余白をあける */
	height: 100px; /* 縦の高さ140px */
	width: 100%; /* 横の幅を100% */
}
/* ヘッダーの表示領域 */
div#header {
	height: 80px; /* 縦の表示領域120px */
	width: 100%; /* 横の幅970px */
}

/* ボディ */
/* ボディの大枠 */
div#body-bk {
	width: 100%; /* 横の幅970px */
	margin: 10px auto 0; /* 上から10px分余白を取る */
	padding-bottom: 80px; /* フッターの高さの分余白を取る */
}

/* ボディ */
div#body {

}

div#footer-bk {
	width: 100%; /* 横の幅を100% */
	height: 50px; /* 縦の幅を120px */
	position: absolute; /* 絶対位置指定することを定義 */
	bottom: 0px; /* 絶対位置指定(左0px,下0px) */
	padding: 10px 0; /* 上下に余白を取る */
}
/* フッターの表示領域 */
div#footer {
	height: 30px; /* 縦幅の指定100px */
	width: 100%; /* 横の幅970px */
}