/*------------------------------全体タグ-----------------------------------------------*/
/*body {
	font-family: 'SimHei';
	color: #4c4c4c;
	word-break: break-all;
}*/

/* モーダルウインドウの格納 */
#lean_overlay{
  position: fixed; z-index:1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: black;
  display: none;
  background-color:rgba(0,0,0,0.35);
}

#div787{
	 z-index:2;
    text-align: center;
    background: none repeat scroll 0 0 white;
    background-color:rgba(256,256,230,1);
    display: none;
    padding: 30px;
    width: 400px;
    border-radius:30px;
}
#div788{
	 z-index:2;
    text-align: center;
    background: none repeat scroll 0 0 white;
    background-color:rgba(256,256,230,1);
    display: none;
    padding: 30px;
    width: 400px;
    border-radius:30px;
}
#div789{
	 z-index:2;
    text-align: center;
    background: none repeat scroll 0 0 white;
    background-color:rgba(256,256,230,1);
    display: none;
    padding: 30px;
    width: 400px;
    border-radius:30px;
}
#div790{
	 z-index:2;
    text-align: center;
    background: none repeat scroll 0 0 white;
    background-color:rgba(256,256,230,1);
    display: none;
    padding: 30px;
    width: 400px;
    border-radius:30px;
}
/* #div788{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    padding: 30px;
    width: 400px;
}

#div789{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    padding: 30px;
    width: 400px;
}

#div790{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    padding: 30px;
    width: 400px;
} */
#div791{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    padding: 30px;
    width: 400px;
}
#div792{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    padding: 30px;
    width: 400px;
}

#heel_t{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    width: 700px;
}

#summer_t{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    width: 700px;
}

#winter_t{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    width: 700px;
}

#planet_t{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    width: 700px;
}

#kids_t{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    width: 700px;
}

#cafe_t{
    text-align: center;
    background: none repeat scroll 0 0 white;
    display: none;
    width: 700px;
}

.modal_close{
}