@CHARSET "UTF-8";

#my-Submit{
display:none;
}

.sample_01 {
	text-align: "center";
	border-collapse: collapse;
}

.sample_01 tr {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}

.sample_01 td {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
	padding: 6px;
}